name: CI

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  test:
    name: ${{ matrix.os }} py${{ matrix.python-version }} ${{ matrix.dependencies }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os:
          - ubuntu
          - macos
          - windows
        python-version:
          - 3.6
          - 3.7
          - 3.8
          - 3.9

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Get the pip cache folder
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"

      - name: Setup caching for pip packages
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install '.[test]'

      - name: Run tests
        run: |
          pytest
